{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Me{% endblock %}

{% block body %}
    <h1>All books in the library</h1>
    <div class="books">
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
        {% set bookId = book.id%}
        <tr>
            <td><a href="{{ path('book_by_id', {'id': bookId }) }}">{{ book.id }}</a></td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <th><a href="{{ path('update_by_id', {'id': bookId }) }}"><button>Update</button></a></th>
            <th><a href="{{ path('book_delete_by_id', {'id': bookId }) }}"><button>Delete</button></a></th>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}