{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>Draw a number of cards</h1>
<div>
    <h2>Your card:</h2>
    {% if flag == 'false' %}
        <div class="cardContainer">
            {% for randomCard in randomCards %}
            <div class="{{ randomCard.class1 }} {{ randomCard.class2 }}">
                <p>{{ randomCard.number }}</p>
                <div class="suitContainer">
                    {% if randomCard.suits == "diamonds" %}
                        <div class="suits">  	
                            &#9830; </div>
                    {% elseif randomCard.suits == "spades"%}
                        <div class="suits"> &#9828; </div>
                    {% elseif randomCard.suits == "hearts"%}
                        <div class="suits"> &#9825; </div>
                    {% else %}
                        <div class="suits"> &#9831; </div>
                    {% endif  %}
                </div>
            </div>
            {% endfor %}
        </div>

        <h3>Cards left in the deck: {{ remainingCards }}</h3>
    {% else %}
        <h2>You are out of cards</h2>
    {% endif %}
</div>


{% endblock %}