<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">MVC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{ url("index") }}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{{ path("about") }}">About</a>
      <a class="nav-item nav-link" href="{{ path("report") }}">Report</a>
      <a class="nav-item nav-link" href="{{ path("card") }}">Cards</a>
      <a class="nav-item nav-link" href="{{ path("game") }}">Game</a>
      <a class="nav-item nav-link" href="{{ path("app_books") }}">Library</a>
      <a class="nav-item nav-link" href="{{ path("metrics") }}">Metrics</a>
    </div>
  </div>
</nav>