{% extends 'projectBase.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="title">
    <div class="nav">
        <a href="{{ url("index") }}">Tillbaka</a>
        <a href="{{ path("about_proj") }}">Dokumentation</a>
    </div>
    <h1>Hållbar energi för alla</h1>
    
</div>
<div class="container">
    <div class="projectContainer">
        <p>En hållbar utveckling är en utveckling som tillfredsställer dagens behov utan att äventyra kommande generationers möjligheter att tillfredsställa sina behov. </p>
        <p>Ett av målen inom hållbar utvecklig är <strong>Hållbar Energi för alla.</strong> </p>
    </div>
    <div class="data">
        <p>Tillgång till hållbar, tillförlitlig och förnybar energi och rena bränslen är en förutsättning för att kunna möta flera av de utmaningar världen står inför idag som fattigdom, klimatförändringar och en inkluderande tillväxt.</p>
        <p>Enligt <a href="https://fn.se/globala-malen-for-hallbar-utveckling/">FNs globala målen för hållbar utveckling</a>, till 2030 ska det: </p>
        <ul>
            <li>säkerställas allmän tillgång till ekonomiskt överkomliga, tillförlitliga och moderna energitjänster,</li>
            <li> väsentligen ökas andelen förnybar energi i den globala egergimixen,</li>
            <li>fördubblas den globala förbättringstakten vad gäller energieffektivitet,</li>
            <li>stärkas det internationella samarbetet för att underlätta tillgång till förskning och teknik inom ren energi, inklusive förnybar energi, egergieffektivitet samt
                avancerad och renare fossilbränslebaserad teknik, samt främja investeringar i egergiinfrastruktur och ren energiteknik,
            </li>
            <li>byggas ut infrastrukturen och uppgraderas tekninken för att leverera moderna och hållbara energitjänster till alla i utvecklingsländerna, i synnerhet de minst utvecklade länderna ochsmå önationer under utveckling.</li>
        </ul>
        <p>Källan är <a href="https://fn.se/wp-content/uploads/2018/03/M%C3%A5l-7.pdf">här</a>.</p>
        <p>Indikatorer som kan vara intressanta att titta på är t.ex <strong>andel förnybar energi i den den totala energiförbrukningen, källor av förnybar energi. </strong> </p>
        <div>
            <h2>Andel förnybar energi i den den totala energiförbrukningen.</h2>
            <h3><a href="https://www.globalamalen.se/om-globala-malen/mal-7-hallbar-energi-alla/">Världen</a></h3>
            <p>Även om det talas mycket om förnyabara energikällor, andel av hållbar energi i den totala energiförbrukningen i världen ökar allt för långsamt.</p>
            <div class="illustration">
                <table class="table">
                    <tr>
                        <th>År</th>
                        {% for data in energy %}
                        <th>{{ data.year }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Andel</th>
                        {% for data in energy %}
                        <td>{{ data.percentage }}%</td>
                        {% endfor %}
                    </tr>
                </table>
                <img src="img/proj/andel.JPG" alt="andel förnybar energi världen" >
            </div>
        </div>
        <div>
            <h3>Sverige</h3>
            <p>Sveriges resultat inom hållbar utveckling är mycket bättre i gemförelse med världen, andel av förnybar energi är drygt 50% och den siffra ökar varje år, vilket är en bra tendens.</p>
            <div class="illustration">
                <table class="table">
                <tr>
                    <th>År</th>
                    {% for data in energySweden %}
                    <th>{{ data.year }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Andel</th>
                    {% for data in energySweden %}
                    <td>{{ data.percentage }}%</td>
                    {% endfor %}
                </tr>
            </table>
            <img src="img/proj/sverige.JPG" alt="andel förnybar energi Sverige">
            </div>
        </div>
        <div>
            <h2><a href="https://www.scb.se/hitta-statistik/statistik-efter-amne/miljo/miljoekonomi-och-hallbar-utveckling/indikatorer-for-hallbar-utveckling/">Förnybara energikällor i Sverige, TWh.</a> </h2>
            <p>Den största förnybara energikällan i Sverige är biobränslen, andel biobränslen i energiförbrukningen ökar varje år. </p>
            <div class="illustration">
                <table class="table-full">
                    <tr>
                        <th>År</th>
                        <th>Biobränslen</th>
                        <th>Vattenkraft</th>
                        <th>Vindkraft</th>
                        <th>Värmepumpar</th>
                        <th>Solenergi</th>
                        <th>Totalt</th>
                    </tr>
                    {% for data in energySource %}
                    <tr>
                        <td>{{ data.year }}</td>
                        <td>{{ data.bio }}</td>
                        <td>{{ data.water }}</td>
                        <td>{{ data.wind }}</td>
                        <td>{{ data.heat }}</td>
                        <td>{{ data.sun }}</td>
                        <td>{{ data.total }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <p> År 2017 t.ex, var biobränslen och vattenkraft de största källor av förnybar energi i Sverige.</p>
                <img src="img/proj/source.JPG" alt="förnybara energikällor i Sverige, år 2017">
            </div>
        </div>
        <div>
            <h2>Övrigt</h2>
            <p>Enligt senaste <a href="https://unstats.un.org/sdgs/files/report/2021/secretary-general-sdg-report-2021--EN.pdf">SGs Progress report </a> har COVID pandemin saktad ner alla insatserna för att bekämpa klimatförändringarna. Andelen av förnybar energi i den totala slutliga energiförbrukningen var bara 17% i 2018, vilket är et lågt siffra, tycker jag. Det visar sig att världen gör väldigt små framsteg när det gäller klimatförändring och siffrorna ovan povisar det. </p>
        </div>
    </div>

</div>


{% endblock %}